[Unit]
Description=GitLab Runner
ConditionFileNotEmpty=/etc/gitlab-runner/config.toml
After=network-online.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
Environment=IMAGE=$RUNNER_IMAGE
EnvironmentFile=-/etc/sysconfig/gitlab-runner

ExecStartPre=-/usr/bin/docker rm --force gitlab-runner
ExecStartPre=-/usr/bin/docker volume create plugins
ExecStartPre=/usr/bin/docker run --rm --name gitlab-runner-plugin-install --pull always --network=host --ipc=host \
  -v /etc/gitlab-runner:/etc/gitlab-runner \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v plugins:/root/.config/fleeting/plugins \
  $IMAGE fleeting install
ExecStart=/usr/bin/docker run --name gitlab-runner --network=host --ipc=host \
  -v /etc/gitlab-runner:/etc/gitlab-runner \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -v plugins:/root/.config/fleeting/plugins \
  $IMAGE
ExecStop=/usr/bin/docker stop gitlab-runner

StartLimitInterval=5
StartLimitBurst=10

Restart=always
RestartSec=120

# StandardOutput=journal+console
# StandardError=inherit

[Install]
WantedBy=multi-user.target
